name: Docker Build

'on':
    push:
        tags: [ '*.*.*-*' ]
        branches: [ main ]
    pull_request:
        branches: [ main ]

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
    cancel-in-progress: true

env:
    DOCKER_IMAGE: etriasnl/php-fpm

jobs:
    build:
        strategy:
            matrix:
                runner: [ amd64, arm64 ]
        runs-on: ${{ matrix.runner }}
        steps:
            -
                uses: actions/checkout@v6.0.0
            -
                uses: docker/setup-buildx-action@v3.11.1
            -
                id: build
                uses: docker/build-push-action@v6.18.0
                env:
                    DOCKER_BUILD_SUMMARY: false
                with:
                    context: .
                    load: true
                    provenance: false
                    # https://docs.docker.com/build/ci/github-actions/cache/#github-cache
                    cache-from: type=gha,scope=build-${{ matrix.runner }}
                    cache-to: type=gha,scope=build-${{ matrix.runner }},mode=max
            -
                name: test
                run: |
                    set -eux
                    docker run --rm '${{ steps.build.outputs.imageid }}' php -v
                    docker run --rm '${{ steps.build.outputs.imageid }}' php -m
                    docker run --rm '${{ steps.build.outputs.imageid }}' php -i | grep 'blackfire.apm_enabled => 0 => 0'
                    docker run --rm '${{ steps.build.outputs.imageid }}' php -i | grep 'newrelic.enabled => no => no'
                    docker run --rm '${{ steps.build.outputs.imageid }}' php -i | grep 'newrelic.loglevel => error'
                    docker run --rm '${{ steps.build.outputs.imageid }}' php -i | grep 'newrelic.logfile => /dev/stderr'
                    docker run --rm '${{ steps.build.outputs.imageid }}' php -i | grep 'newrelic.daemon.logfile => /dev/stderr'
                    docker run --rm '${{ steps.build.outputs.imageid }}' php -i | grep 'newrelic.daemon.dont_launch => 3'
                    docker run --rm '${{ steps.build.outputs.imageid }}' composer --version
                    docker run --rm '${{ steps.build.outputs.imageid }}' pt-online-schema-change --version
                    docker run --rm '${{ steps.build.outputs.imageid }}' blackfire version
            -
                name: extension-versions
                run: |
                    set -eux
                    docker run --rm '${{ steps.build.outputs.imageid }}' php -r 'foreach (get_loaded_extensions() as $ext) { printf("%-20s %s\n", $ext, phpversion($ext) ?: "(bundled/no version)"); }' | sort
            -
                uses: docker/login-action@v3.6.0
                with:
                    username: ${{ secrets.DOCKER_HUB_USERNAME }}
                    password: ${{ secrets.DOCKER_HUB_PASSWORD }}
                if: github.ref_type == 'tag'
            -
                id: meta
                uses: docker/metadata-action@v5.9.0
                with:
                    images: ${{ env.DOCKER_IMAGE }}
                    flavor: |
                        latest=false
                        suffix=-${{ matrix.runner }}
            -
                uses: docker/build-push-action@v6.18.0
                env:
                    DOCKER_BUILD_SUMMARY: false
                with:
                    context: .
                    push: true
                    provenance: false
                    tags: ${{ steps.meta.outputs.tags }}
                    labels: ${{ steps.meta.outputs.labels }}
                    # https://docs.docker.com/build/ci/github-actions/cache/#github-cache
                    cache-from: type=gha,scope=build-${{ matrix.runner }}
                    cache-to: type=gha,scope=build-${{ matrix.runner }},mode=max
                if: github.ref_type == 'tag'
    push:
        needs: [ build ]
        runs-on: ubuntu-latest
        if: github.ref_type == 'tag'
        steps:
            -
                uses: actions/checkout@v6.0.0
            -
                uses: docker/setup-buildx-action@v3.11.1
            -
                uses: docker/login-action@v3.6.0
                with:
                    username: ${{ secrets.DOCKER_HUB_USERNAME }}
                    password: ${{ secrets.DOCKER_HUB_PASSWORD }}
            -
                id: meta
                uses: docker/metadata-action@v5.9.0
                with:
                    images: ${{ env.DOCKER_IMAGE }}
                    flavor: |
                        latest=false
            -
                uses: Noelware/docker-manifest-action@1.0.0
                with:
                    tags: ${{ steps.meta.outputs.tags }}
                    inputs: ${{ steps.meta.outputs.tags }}-amd64,${{ steps.meta.outputs.tags }}-arm64
                    push: true
